{% extends "base.html" %}
{% block content %}

<!-- Textfield with Floating Label -->

{% if request.user.is_authenticated %}
<!--the following only shows if user is logged in-->

<div id="messageContainer" class="messageContainer">
    {% for message in messages %}
    <div class="single-message">
        <span class="color-gray">[{{ message.created_at.isoformat }}] </span> <span class="username-field"> {{ message.author }}: </span><span class="mdl-chip">
            <span class="mdl-chip__text">{{ message.text }} </span>
        </span>
    </div>
    {% endfor %}
</div>


<script>
    async function sendMessage() {
        let fd = new FormData();
        let messageField = document.getElementById('messageField').value; //in neuem JS nicht mehr nötig
        let token = '{{csrf_token}}';

        fd.append('textmessage', messageField);
        fd.append('csrfmiddlewaretoken', token);
        try {
            messageContainer.innerHTML += `
            <div id="deleteMessage">
              <span class="color-gray">[DATUM]</span> {{ request.user.username }}: <i class="color-gray">${messageField}</i>
            </div>
            `;

            let response = await fetch('/chat/', {
                method: 'POST',
                body: fd
            });


            let json = await response.json();

            console.log(json);
            let finalJson = JSON.parse(json);
            console.log(finalJson);

            document.getElementById('deleteMessage').remove();
            messageContainer.innerHTML += `
            <div class="single-message">
              <span class="color-gray">[${finalJson.fields.created_at}]</span> <span class="username-field"> {{ request.user.username }}: </span> </span><span class="mdl-chip">
            <span class="mdl-chip__text">${messageField}</span>
        </span>
            </div>
            `;

            console.log('success');
            document.getElementById('messageField').value = '';


        } catch (e) {

            console.error('An error occurred', e)
        }
    }

    function success(){
        if(document.getElementById("messageField").value==="") {
            document.getElementById('sendButton').disabled = true;
        } else {
            document.getElementById('sendButton').disabled = false;
        }
    }

</script>

<!-- <form action="/chat/" method="post"> -->
<form onsubmit="sendMessage(); return false" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="textmessage" id="messageField" onkeyup="success()">
        <label class="mdl-textfield__label" for="messageField">Text...</label>
    </div>
    <button id="sendButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" disabled>
        Send
    </button>
</form>
<!-- Accent-colored raised button with ripple -->

{% else %}
<h1>Not logged in</h1>
<p>You are currently not logged in. Please log in to proceed.<br>
    Click <a href="/login/">here</a>
</p>
{% endif %}

{% endblock %}