{% extends "base.html" %}
{% block content %}

<!-- Textfield with Floating Label -->

{% if request.user.is_authenticated %}
<!--the following only shows if user is logged in-->

{% for message in messages %}
<div>
    <span class="color-gray">[{{ message.created_at }}] </span> {{ message.author }}: <i>{{ message.text }} </i>
</div>
{% endfor %}

<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="textmessage" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
    </button>
</form>
<!-- Accent-colored raised button with ripple -->

{% else %}
<h1>Not logged in</h1>
<p>You are currently not logged in. Please log in to proceed.<br>
    Click <a href="/login/">here</a>
</p>
{% endif %}

{% endblock %}