.page-content {
    padding: 100px 100px;
}

.color-gray {
    color: rgba(0, 0, 0, 0.5);
}

.success-message{
    color: rgb(58, 160, 58);
}

.mdl-button {
    border-radius: 8px !important;
    margin-top: 8px;
    transition: transform .2s;
}
.mdl-button:hover:enabled {
    transform: scale(1.1);
}
.mdl-button:hover:disabled {
    cursor:not-allowed;
}

.green{
    background-color: rgb(73, 179, 143) !important;
}

.mdl-progress{
    margin-top: 15px;
}

.d-none{
    display: none;
}

