{% extends "base.html" %}
{% block content %}

<script>
    function showLoading(){
        document.getElementById('p2').classList.remove('d-none');
    }

</script>
<h1>Login</h1>

{% if wrongPassword %}
<p>Username or password is wrong</p>
{% endif %}

{% if success %}
<div class="success-message">You have successfully registered!</div>
{% endif %}

<form onsubmit="showLoading()" method="POST" action="/login/">
    {% csrf_token %}
    <input type="hidden" value="{{redirect}}" name="redirect">
    <div><input name="username" type="text"></div>
    <div><input name="password" type="password"></div>
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Login
          </button>
        <a href="../register">Register</a>
    </div>
</form>


<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate d-none"></div>


{% endblock %}