{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <h1 class="h1-register">Register</h1>

  {% if userTaken %}
  <p>Username already taken</p>
  {% endif %}

  {% if emailTaken %}
  <p>Email already taken</p>
  {% endif %}

  {% if noMatch %}
  <p>Passwords don't match</p>
  {% endif %}

  {% if emptyUser%}
  <p>Enter a username</p>
  {% endif %}

  <!-- {% for message in messages%}
<h2>{{message}}</h2>
{% endfor %} -->


  <form method="POST" action="/register/" class="register-form">
    {% csrf_token %}
    <div><input class="form-input" name="username" placeholder="Enter username" type="text"></div>
    <div><input class="form-input" name="password1" placeholder="Enter password" type="password"></div>
    <div><input class="form-input" name="password2" placeholder="Confirm password" type="password"></div>
    <div><input class="form-input" name="email" placeholder="Enter email" type="email"></div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored green">
      Register
    </button>
  </form>

</div>



{% endblock %}